.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 20px;
  min-width: 280px;
  max-width: 960px;
  width: 40%;
  border: 1px solid #e4e4e6;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.login-box h1 {
  .em(16);
  padding: 10px;
  background-color: #444444;
  color: @light-text;
}

.login-box input[type='text'],
.login-box input[type='password'] {
  width: 300px;
}
