/* ----------------------------------------------------------- */
/* == layout */
/* ----------------------------------------------------------- */

html {
  background-color: @bg-color;
  color: @dark-text;
  font-family: @fontstack1;
}

html, body {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  max-width: 960px;
}


/* header
-------------------------------------------------------------- */

.header__liseret {
  height: 3px;
  background-color: #19bfa1;
}

.header {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 60px;
  background-color: #434649;
  color: #fff;
}

.header__title {
  line-height: 60px;
}

.header__actions {
  line-height: 60px;
}

.header__actions a {
  padding: 30px;
}

.menu-btn {
  width: 60px;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  cursor: pointer;
}

/* navigation
-------------------------------------------------------------- */

.navigation {
  position: absolute;
  top: 60px;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  width: 52px;
  border-right: 2px solid #e2e2e3;
  background-color: #fff;
}

.navigation--open {
  width: 200px;
}

.navigation--open ~ .content {
  padding-left: 230px;
}

.navigation__anchor {
  width: 0;
}

.navigation--open .navigation__anchor {
  width: 100%;
}

.navigation a,
.navigation a:visited {
  color: #6c6e71;
}

.navigation ul {
  padding-left: 0;
}

.navigation li {
  border-bottom: 1px solid #e2e2e3;
}

.navigation li > a {
  display: table;
}

.current .navigation__icon {
  background-color: @primary-color;
  color: #fff;
}

.navigation__icon {
  display: table-cell;
  min-width: 50px;
  height: 50px;
  background-color: #f7f6f6;
  vertical-align: middle;
  text-align: center;
  font-size: 22px;
}

.navigation__anchor {
  display: table-cell;
  overflow: hidden;
  padding-left: 10px;
  background-color: #fff;
  vertical-align: middle;
  white-space: nowrap;
}

.navigation a:hover .fa.navigation__icon {
  background-color: @primary-color;
  color: #fff;
}

.navigation a:hover .navigation__anchor {
  background-color: lighten(@primary-color, 10%);
  color: #fff;
}

.navigation li {
  position: relative;
}

.navigation__submenu {
  position: absolute;
  top: 0;
  right: -200px;
  z-index: 10;
  display: none;
  width: 200px;
}

.navigation__submenu--open {
  display: block;
}


/* content
-------------------------------------------------------------- */

.content {
  padding: 20px 30px 20px 70px;
}


/* footer
-------------------------------------------------------------- */

.footer {

}