/* ----------------------------------------------------------- */
/* == boxes */
/* ----------------------------------------------------------- */

.box {
  margin-bottom: 30px;
  border: 1px solid #bcbcbc;
  background-color: #ffffff;
}

.box__title {
  padding: 10px 10px;
  border-bottom: 1px solid #bcbcbc;
  .em(16);
}

.box__actions {
  padding: 10px 20px;
  border-bottom: 1px dotted #bcbcbc;
}

.box__content {
  padding: 30px 20px 20px 20px;
}

.box__footer {
  padding: 10px 10px;
  border-top: 1px solid #bcbcbc;
}

/* ----------------------------------------------------------- */
/* == modules */
/* ----------------------------------------------------------- */

.dataTables_wrapper {
  padding-bottom: 20px;
}
.module {
  clear: both;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #e2e2e3;
  background-color: #fff;
}

.module:after {
  display: table;
  clear: both;
  content: "";
}


/* ----------------------------------------------------------- */
/* == actions */
/* ----------------------------------------------------------- */

.actions {
  text-align: center;
}

.actions a {
  display: inline-block;
}

.actions a:visited,
.actions a:link {
  color: @dark-text;
}

.actions .fa {
  .em(18);
  margin: 0 4px 0 8px;
  vertical-align: middle;
}

