/* ----------------------------------------------------------- */
/* == config */
/* ----------------------------------------------------------- */

/* base
-------------------------------------------------------------- */

@base-font       : 14px;
@line-height     : 1.5;
@bg-color        : #f0f2f6;

@fontstack1      : "Helvetica Neue", Helvetica, Arial, sans-serif;
@fontstack2      : Georgia, Times, "Times New Roman", serif;


/* colors
-------------------------------------------------------------- */

@primary-color   : #45b29d;
@secondary-color : #efc94c;
@tertiary-color  : #e27a3f;


/* links
-------------------------------------------------------------- */

@link            : @primary-color;
@link-hover      : lighten(@link, 10%);


/* texts
-------------------------------------------------------------- */

@light-text      : #fcfcfc;
@dark-text       : #484b4f;


/* responsive
-------------------------------------------------------------- */

@smartphone      : 480px;
@tablet          : 768px;
@desktop		 : 1280px;


/* grids
-------------------------------------------------------------- */

@gutter         : 2;
@smallscreen    : @smartphone;
@margin-bottom  : 2%;