<div class="login-box txtcenter">
    <h1></span>Panneau d'administration</h1>
    <form id="js-auth-form" data-get="<?php echo $getChallengeUrl ?>" data-check="<?php echo $checkChallengeUrl ?>" data-redirect="<?php echo $loginRedirectUrl ?>">
        <div id="js-auth-error"></div>
        <div class="ma2">
            <label for="username">Nom d'utilisateur</label>
            <input name="username" id="username" placeholder="nom d'utilisateur" type="text">
        </div>
        <div class="ma2">
            <label for="password">Mot de passe</label>
            <input name="password" id="password" placeholder="mot de passe" type="password">
        </div>
        <div class="ma1">
            <input type="submit" class="btn primary fmedium" value="Se connecter">
        </div>
    </form>
</div>
