<div class="<?php echo $class ?>">
<?php foreach($items as $item): ?>
    <article class="card">

        <a href="<?php echo $item['url'] ?>" class="card__title"><?php echo $item['title'] ?></a>

        <?php if (count($item['actions'])): ?>
        <div class="card__icons card__icon--<?php echo count($item['actions']) ?> clearfix">
            <?php foreach ($item['actions'] as $action): ?>
            <a class="card__icon <?php echo $action['class'] ?>" href="<?php echo $action['url'] ?>" title="<?php echo $action['title'] ?>">
                <i class="fa <?php echo $action['icon'] ?>"></i>
            </a>
            <?php endforeach ?>
        </div>
        <?php endif ?>

    </article>
    <?php endforeach ?>
</div>
