<div class="js-water-datagrid line" data-sort="<?php echo $orderUrl ?>">
<?php foreach ($items as $item): ?>
    <div class="datagrid" data-id="<?php echo $item['id'] ?>">
        <div class="js-water-datagrid-drag datagrid__header">
            <span class="fa fa-align-justify datagrid__drag"></span>
        </div>
        <img src="<?php echo $item['imageUrl'] ?>">
        <a href="<?php echo $item['updateUrl'] ?>" class="btn btn--primary datagrid__update">Modifier</a>
        <a href="<?php echo $item['deleteUrl'] ?>" class="btn btn--danger datagrid__delete js-water-confirm-delete">Supprimer</a>
    </div>
<?php endforeach ?>
</div>
