<nav class="navigation navigation--open">
    <ul>
        <?php foreach ($menu as $item): ?>
        <li class="<?php if ($current === $item['current']) {echo 'current';} ?>">
            <a href="<?php echo $item['url'] ?>" title="<?php echo $item['title'] ?>">
                <i class="fa <?php echo $item['icon'] ?> navigation__icon"></i>
                <span class="navigation__anchor"><?php echo $item['title'] ?></span>
            </a>
        </li>
        <?php endforeach ?>
    </ul>
</nav>
