<div class="tabs">
    <ul>
    <?php foreach ($tabs as $tab): ?>
        <li <?php if ($current === $tab['current']) {echo 'class="current"';} ?>>
            <a href="<?php echo $tab['url'] ?>"><?php echo $tab['title'] ?></a>
        </li>
    <?php endforeach ?>
    </ul>
</div>
