<table class="<?php echo $class ?>">
    <thead>
        <tr>
        <?php foreach ($headers as $header): ?>
            <th class="<?php echo $header['class'] ?>">
                <?php echo $header['title'] ?>
            </th>
        <?php endforeach ?>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($rows as $row): ?>
        <tr>
        <?php foreach ($headers as $key => $col): ?>
            <td class="<?php echo $headers[$key]['tdClass'] ?>" <?php if (array_key_exists('data-order', $row[$key])) {echo 'data-order="'.$row[$key]['data-order'].'"';} ?>>
                <?php echo $this->format($row[$key][0], $col['type']) ?>
            </td>
        <?php endforeach ?>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
