/* ----------------------------------------------------------- */
/* == mixins */
/* ----------------------------------------------------------- */


/* vertical rythm
-------------------------------------------------------------- */

.flow(@size, @bf: @base-font, @bh: @line-height) {

  /* font size */
  @em : @size / @bf;
  font-size: unit(@em, em);

  /* line height */
  @new-lh : (@bf * @bh / @size) * 2;
  @new-lh-em : unit(@new-lh, em);
  line-height: @new-lh-em;

  /* margin */
  @margin-bottom: @new-lh / 2;
  margin-bottom: unit(@margin-bottom, em);
}


/* emulate rem unit
-------------------------------------------------------------- */

.em(@size, @bf: @base-font){
  @em: @size / @bf;
  font-size: unit(@em, em);
}


/* automatic color
-------------------------------------------------------------- */

.setColor (@bgColor) when (lightness(@bgColor) > 60%) {
  color: #000 !important;
}

.setColor (@bgColor) when (lightness(@bgColor) =< 60%) {
  color: #fff !important;
}


/* placeholder color
-------------------------------------------------------------- */

.placeholder(@color: #ccc) {
  input::-webkit-input-placeholder {
    color: @color;
  }
  input:-moz-placeholder {
    color: @color;
  }
  textarea::-webkit-input-placeholder {
    color: @color;
  }
  textarea:-moz-placeholder {
    color: @color;
  }
}