/* ----------------------------------------------------------- */
/* == reset */
/* ----------------------------------------------------------- */

*,
*:after,
*:before {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, ol, ul, li {
  margin:0;
  padding:0;
}

ul, li {
  list-style-type: none;
}

img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
}

img {
  height: auto;
  border: 0;
  vertical-align: middle;
}

