<!DOCTYPE html>
<html lang="fr">
<head>
    <?php echo $this->Html->title(); ?>
    <?php echo $this->Html->description(); ?>
    <?php echo $this->Html->charset(); ?>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <?php
/** @todo attention le helper Html est une dépendence externe à water */
$this->Html->addCss($this->water('/css/style.css'));
echo $this->Html->css();
?>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

</head>
<body>
<?php
echo $this->content();

$this->Html->addJs($this->water('/js/vendor/toastr.js'), 'water');
$this->Html->addJs($this->water('/js/vendor/jquery.dataTables.js'), 'water');
$this->Html->addJs($this->water('/js/modules/menu.js'), 'water');
// redactor
$this->Html->addJS($this->water('/js/vendor/redactor.min.js'), 'water');
$this->Html->addJS($this->water('/js/vendor/redactor-fr.js'), 'water');
// date picker
$this->Html->addJS($this->water('/js/vendor/picker.js'), 'water');
$this->Html->addJS($this->water('/js/vendor/picker.date.js'), 'water');
$this->Html->addJS($this->water('/js/vendor/picker.time.js'), 'water');
$this->Html->addJS($this->water('/js/vendor/fr_FR.js'), 'water');
// select 2
$this->Html->addJS($this->water('/js/vendor/select2.min.js'), 'water');
$this->Html->addJS($this->water('/js/vendor/select2_locale_fr.js'), 'water');

$this->Html->addJs($this->water('/js/bundle.js'), 'water');
echo $this->Html->js('water');

echo $this->Html->js();
?>
</body>
</html>
