/**
 * Card Module
 * namespace   : .card
 */

/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */

@card-border      : 1px solid #c6c7c8;
@card-background  : #f1f2f6;

/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */


.card {
  display: block;
  margin-bottom: 10px;
  border: @card-border;
  border-radius: 2px;
  background-color: @card-background;
  color: @dark-text;
  text-align: center;
}

.card:hover .card__title {
  background-color: @primary-color;
  color: #fff;
}

.card__title {
  display: block;
  padding: 10px;
  color: @dark-text;
}

.card__title:link,
.card__title:visited {
  color: @dark-text;
}

.card__icons {
  background-color: #fff;
}

.card__icon {
  display: block;
  float: left;
  padding: 5px;
  border-top: @card-border;
  .em(20);
  text-align: center;
}

.card__icon:link,
.card__icon:hover,
.card__icon:visited {
  color: @dark-text;
}

.card__icon:hover {
  border-bottom: 2px solid @secondary-color;
}

.card__icon--2 .card__icon {
  width: 50%;
}

.card__icon--3 .card__icon {
  width: 33.3333%;
}

.card__icon {
  border-right: @card-border;
  border-bottom: 2px solid transparent;
  color: #484b4f;
}



.card__icon:last-child {
  border-right: none;
}