/**
 * Datagrids Module
 * namespace   : .datagrid
 */

/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */

.datagrid {
  position: relative;
  display: inline-block;
  float: left;
  overflow: hidden;
  margin: 10px;
  width: 22%;
  height: 180px;
}

.datagrid__header {
  height: 30px;
  background-color: #e5e5e5;
  cursor: move;
}

.datagrid img {
  min-height: 180px;
}

.datagrid a {
  display: none;
}

.datagrid:before {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: transparent;
  content: '';
  transition: background-color 1s ease;
}

.datagrid:hover:before {
  background-color: rgba(0, 0, 0, 0.70);
}

.datagrid:hover a {
  display: block;
}

.datagrid__drag {
  .em(20);
  position: absolute;
  top: 5px;
  right: 10px;
}

.datagrid .btn {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  width: 140px;
}

.datagrid__update {
  .em(18);
  top: 70px;
}

.datagrid__delete {
  .em(16);
  top: 125px;
}

.dotted {
  float: left;
  margin-top: 10px;
  width: 25%;
  height: 180px;
  border: 1px dashed #ff8c89;
}
