/**
 * Form Module
 * Description : Easy styling for form elements
 * Namespace   : .f-
 */


/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */


@input-border-radius     : 0px;
@input-border            : 1px solid #D8D8D8;
@input-backgroud-color   : #fff;
@input-hover             : 5%;
@input-error-color       : #efd8d7;
@input-placeholder-color : #c4c1be;


/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */

.placeholder(@input-placeholder-color);

/* block form
-------------------------------------------------------------- */

label,
.label {
  display: block;
  margin: 15px 0 5px 0;
  vertical-align: middle;
  cursor: pointer;
}

/* inline form
-------------------------------------------------------------- */

/* inline */
.f-inline label,
.f-inline .label {
  display: inline-block;
  margin: 0;
}

.f-inline {
  display: inline-block;
}

/* basics style
-------------------------------------------------------------- */

fieldset {
  margin: 25px 0;
  padding: 1em;
  border: 1px solid #D8D8D8;
}

input,
select,
label,
.label {
  vertical-align: middle;
  font-size: inherit;
  font-family: inherit;
}

select {
  margin: 0;
  border: 1px solid #CCC;
  background-color: #FFF;
  font-size: 115%;
}


input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='datetime'],
input[type='email'],
input[type='tel'],
input[type='search'],
textarea {
  margin: 0;
  padding: .6em .6em;
  width: 420px;
  border: @input-border;
  border-radius: @input-border-radius;
  background: @input-backgroud-color;
  box-shadow: inset 0 1px 3px #f2f2f2;
}

textarea {
  min-height: 150px;
}


input[type='radio'] + label,
input[type='checkbox'] + label {
  display: inline-block;
  padding: 0 10px 0 5px;
  width: auto;
  vertical-align: baseline;
}

/* grid (with grid module)
-------------------------------------------------------------- */

[class^="grid"] input[type='text'],
[class^="grid"] input[type='password'],
[class^="grid"] input[type='number'],
[class^="grid"] input[type='mail'],
[class^="grid"] textarea {
  width: 100%;
}

/* width
-------------------------------------------------------------- */

input.f-small {
  width: 6em;
}

input.f-medium {
  width: 50%;
}

input.f-wide {
  width: 100%;
}


/* submit button
-------------------------------------------------------------- */

form .btn,
form button {
  margin-top: 20px;
}

/* errors
-------------------------------------------------------------- */

.f-required {
  color: red;
  font-weight: bold;
}

.f-error {
  margin-top: 20px;
  padding: 5px 10px;
  border-left: 5px solid @input-error-color;
  background-color: lighten(@input-error-color, 8%);
}

.f-error-message {
  padding-top: 4px;
  color: darken(@input-error-color, 20%);
}

