/* ----------------------------------------------------------- */
/* == tabs */
/* ----------------------------------------------------------- */

.tabs li {
  display: inline-block;
  border-top: 1px solid  #cbcbcb;
  border-right: 1px solid  #cbcbcb;
  border-left: 1px solid  #cbcbcb;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  position: relative;
}

.tabs .current:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  content: '';
  border-bottom: 3px solid #44bde1;
  font-weight: bold;
}

.tabs li a,
.tabs li span {
  display: block;
  text-decoration: none;
  padding: .5em 1.2em;
}

.tabs li a,
.tabs li a:visited {
  color: @dark-text;
}